#map {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
}

body {
    overflow-x: hidden;
}
/* Hittar inte klassen någonstans! Gammal? */
/* From here to: --> */
.svgChart {
    float: left;
    z-index: 10;
    margin-top: auto;
}
/* charts.js Valueline path */
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
/* charts.js rectangles for bar chart */
.bar {
    fill: steelblue;
}

.bar:hover {
    fill: lightblue;
}
/* Hittar inte d3-tip klassen... Gammal? */
.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}
/* <-- to here has to do with graphs */

#side-nav {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -250px;
  background-color: rgba(255,255,255,1);
  transition: all 0.1s;
  z-index: 20;
}


.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.side-nav-open {
    left: 0px !important;
}

.clearParent {
    margin: 0px auto;
    width: 40%;
    height: 100%;
    border: 1px solid red;
}

.clearButton {
    margin-top: 5%;
    margin-bottom: 5%;
}

#inner-side-nav {
    width: 100%;
    height: 100%;
    position: relative;
}

#side-nav-10 {
    width: 100%;
    height: 10%;
    position: relative;
}

#side-nav-10 ul {
    height: 100%;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0px auto;
}
#side-nav-10 li {
    width: 25%;
    height: 100%;
    list-style-type: none;
    float: left;
    background-size: 100% 100%;
    margin: 0px auto;
}
.submitButton {
    width: 60%;
    height: 100%;
    border: 3px solid gray;
    border-radius: 10px;
    list-style-type: none;
    float: left;
    background-size: 100% 100%;
    margin: 0% 20% 0% 20%;
}


#side-nav-big {
    width: 100%;
    height: 80%;
    position: relative;
    overflow-y: auto;
}

#side-nav-big button {
    width: 20%;
    float: right;
    margin: 6% 1% 0% 0%;
}
/* This attribute is not needed anymore, as it was used for the "Filters"
   and "Logic" headers

#side-nav-big h1 {
    font-color: gray;
    float: left;
    margin-left: 2%;
    margin-top: 5%;
}
*/

#filter-container {
    margin-top: 20px;
    width: 100%;
    min-height: 30%;
    float: left;
}

#filter-container div {
    width: 100px;
    height: 75px;
    border: 3px solid black;
    border-radius: 5px;
    float: left;
    margin: 1em 1% 0 1%;
}

#filter-container img {
    height: 35px;
    width: height;
}

#filter-container button {
    height: 28px;
    width: 28px;
    background-image: url("https://cdn4.iconfinder.com/data/icons/icocentre-free-icons/114/f-cross_256-128.png");
    background-size: 100% 100%;
    background-color: #ffffff;
    border: none;
    float: right;
}

#filter-container select{
	width:100%;
	font-size:10px;
	
}

#menuButton {
    background-image: url("../media/arrow-right.png");
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -50px;
    bottom: 0px;
}

.menu-button-open {
    background-image: url("../media/arrow-left.png") !important;
}

/* The biggest div for the right panel with graphs */
#graphs_div {
    width: 450px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -450px;
    background-color: rgba(255,255,255,1);
    transition: all 0.1s;
    z-index: 20;
}

.graphs-div-open {
    right: 0px !important;
}
/* The first div inside "graphs_div" and including the show/hide button */
#inner-graphs {
    width: 100%;
    height: 100%;
    position: relative;
}

/* This div is needed to place the button and graphs correctly */
#graphs_container_big {
}

/* This div lists all the graphs */
#graphs_container {
    overflow: visible;
}

/* The button to show or hide the graphpanel */
#graphsButton {
    background-image: url("../media/arrow-left.png");
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -50px;
    bottom: 0px;
}

.graphs-button-open {
    background-image: url("../media/arrow-right.png") !important;
}
